<div style="margin-left:400px; margin-right:400px; margin-bottom:400px; margin-top:100px">
<h1>ElVidテスト版</h1><br />
	<ul id="indt">
		<li><a href="work_search">作品検索へ</a>:フリーワードのみ</li>
		<li><a href="scene_search">シーン検索へ</a>:フリーワードのみ</li>
		<li><a href="shot_search">ショット検索へ</a>:フリーワードのみ</li>
　	</ul>
</div>
