<div style="margin-left:400px; margin-right:400px; margin-bottom:400px; margin-top:200px">
<div id="search_box">
	<h2>Shot Search</h2>
		<p>
			<form method = "post" action = "shot_search_result">
			<input type="text" name="keyword">
			<input type="submit" value="search">
		</p>
</div>
</div>
