<div style="margin-left:400px; margin-right:400px; margin-bottom:400px; margin-top:200px">
<div id="search_box">
	<h2>Work Search</h2><br />
		<p>
			<form method = "post" action = "work_search_result">
			<b>TITLE:  </b><input type="text" name="keyword">
			<input type="submit" value="search">
		</p>
</div>
</div>
